<!DOCTYPE html>

<html ng-app="acougue">
	<head>
		<title>Acougue simulation</title>

		<!-- base css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

		<!-- custom css -->
		<link rel ="stylesheet" href="css/main.css">

		<!-- base js -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>

		<!-- angular add -->
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/jquery-flot/jquery.flot.js"></script>
		<script src="bower_components/jquery-flot/jquery.flot.time.js"></script>
		<script src="bower_components/angular-flot/angular-flot.js"></script>

		<!-- angular app -->
		<script src="app.js"></script>
		<script src="controllers.js"></script>
	</head>

	<body>
		<div ng-controller="main_controller">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<h1 class="text-center"><strong>Acougue <small><strong>configuration</strong></small></strong></h1>
					<div class="row">
						<div class="col-xs-6">
							<h3>Capacities</h3>
							<div class="form-group">
								<label>Cashiers</label>
								<input ng-model="configuration.cashiers" type="text" class="form-control" />
							</div>
							<div class="form-group">
								<label>Meat slicers</label>
								<input ng-model="configuration.meats" type="text" class="form-control" />
							</div>
							<div class="form-group">
								<label>Grocery Area</label>
								<input ng-model="configuration.grocery_area" type="text" class="form-control" />
							</div>
						</div>
						<div class="col-xs-6">
							<h3>Incoming</h3>
							<div class="form-group">
								<label>Clients incoming poisson lambda</label>
								<input ng-model="configuration.client_lambda" type="text" class="form-control" />
							</div>
							<div class="form-group">
								<label>Truck quantity</label>
								<input ng-model="configuration.truck_quantity" type="text" class="form-control" />
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-xs-6">
							<button class="btn btn-primary form-control" ng-click="simulate()"><strong>Simulate</strong></button>
						</div>
						<div class="col-xs-6">
							<button class="btn btn-success form-control" ng-click="default_config()"><strong>Load default configuration</strong></button>
						</div>
					</div>
					<hr/>
					<div ng-cloak ng-show="result" class="row">
						<h1 class="text-center"><strong>Acougue <small><strong>simulation result</strong></small></strong></h1>
						<hr/>
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#incout" aria-controls="incout" role="tab" data-toggle="tab">Incoming/Outgoing Chart</a></li>
							<li role="presentation"><a href="#incout_raw" aria-controls="incout_raw" role="tab" data-toggle="tab">Incoming/Outgoing Table</a></li>
							<li role="presentation"><a href="#client" aria-controls="client" role="tab" data-toggle="tab">Client Data</a></li>
							<li role="presentation"><a href="#truck" aria-controls="truck" role="tab" data-toggle="tab">Truck Data</a></li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="incout">
								<hr/>
								<flot dataset="charts.incoming_outgoing.data" options="charts.incoming_outgoing.options" height="250px"></flot>
								<hr/>
							</div>
							<div role="tabpanel" class="tab-pane" id="incout_raw">
								<hr/>
								<table class="table text-center table-striped">
									<tr>
										<th class="text-center">Time</th>
										<th class="text-center">Incoming</th>
										<th class="text-center">Outgoing</th>
									</tr>
									<tr ng-repeat="i in data.client_incoming">
										<td>{{ data.client_incoming[$index][0] }}</td>
										<td>{{ data.client_incoming[$index][1] }}</td>
										<td>{{ data.client_outgoing[$index][1] }}</td>
									</tr>
								</table>
							</div>
							<div role="tabpanel" class="tab-pane" id="client">
								<hr/>
								<table class="table text-center table-striped">
									<tr>
										<th class="text-center">Entered</th>
										<th class="text-center">Meat Queue</th>
										<th class="text-center">Meat Start</th>
										<th class="text-center">Meat End</th>
										<th class="text-center">Meat Wait</th>
										<th class="text-center">Grocery Queue</th>
										<th class="text-center">Grocery Start</th>
										<th class="text-center">Grocery End</th>
										<th class="text-center">Grocery Wait</th>
										<th class="text-center">Cashier Queue</th>
										<th class="text-center">Cashier Start</th>
										<th class="text-center">Cashier End</th>
										<th class="text-center">Cashier Wait</th>
										<th class="text-center">Left</th>
									</tr>
									<tr ng-repeat="c in data.clients">
										<td>{{ c.entered | number:2 }}</td>
										<td>{{ c.meat_queue | number:2 }}</td>
										<td>{{ c.meat_start | number:2 }}</td>
										<td>{{ c.meat_end | number:2 }}</td>
										<td>{{ c.meat_wait | number:2 }}</td>
										<td>{{ c.grocery_queue | number:2 }}</td>
										<td>{{ c.grocery_start | number:2 }}</td>
										<td>{{ c.grocery_end | number:2 }}</td>
										<td>{{ c.grocery_wait | number:2 }}</td>
										<td>{{ c.cashier_queue | number:2 }}</td>
										<td>{{ c.cashier_start | number:2 }}</td>
										<td>{{ c.cashier_end | number:2 }}</td>
										<td>{{ c.cashier_wait | number:2 }}</td>
										<td>{{ c.cashier_end | number:2 }}</td>
									</tr>
								</table>
							</div>
							<div role="tabpanel" class="tab-pane" id="truck">
								<hr/>
								<table class="table text-center table-striped">
									<tr>
										<th class="text-center">Entered</th>
										<th class="text-center">Cashier Queue</th>
										<th class="text-center">Cashier Start</th>
										<th class="text-center">Cashier End</th>
										<th class="text-center">Cashier Wait</th>
										<th class="text-center">Left</th>
									</tr>
									<tr ng-repeat="c in data.trucks">
										<td>{{ c.entered | number:2 }}</td>
										<td>{{ c.cashier_queue | number:2 }}</td>
										<td>{{ c.cashier_start | number:2 }}</td>
										<td>{{ c.cashier_end | number:2 }}</td>
										<td>{{ c.cashier_wait | number:2 }}</td>
										<td>{{ c.cashier_end | number:2 }}</td>
									</tr>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</body>
</html>
